<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zte.km.dao.ItemCatMapper" >
  <resultMap id="BaseResultMap" type="com.zte.km.entities.ItemCat" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="parent_id" property="parentId" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="sort_order" property="sortOrder" jdbcType="INTEGER" />
    <result column="is_parent" property="isParent" jdbcType="BIT" />
    <result column="created" property="created" jdbcType="TIMESTAMP" />
    <result column="updated" property="updated" jdbcType="TIMESTAMP" />
  </resultMap>

  <!--1.获取商品分类列表-->
  <select id="getItemCatsByParentId" resultMap="BaseResultMap" parameterType="LONG">
    SELECT `id`,`parent_id`,`name`,`status`,`sort_order`,`is_parent`,`created`,`updated`
      FROM item_cat WHERE parent_id=#{parentId};
  </select>

  <!--2.根据id列表获取商品分类列表-->
  <select id="getItemCatsByIds" resultMap="BaseResultMap">
    SELECT `id`,`parent_id`,`name`,`status`,`sort_order`,`is_parent`,`created`,`updated`
    FROM item_cat WHERE id IN
    <foreach collection="itemCatIdList" item="id" open="(" separator="," close=")">
      #{id}
    </foreach>
  </select>

</mapper>