<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Cache-Control" content="max-age=300" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>我的信息 - 淘淘</title>
        <meta name="Keywords" content="java,淘淘java" />
        <meta name="description" content="在淘淘中找到了29910件java的类似商品，其中包含了“图书”，“电子书”，“教育音像”，“骑行运动”等类型的java的商品。" />
        <link rel="stylesheet" type="text/css" href="/css/base.css" media="all" />
        <link rel="stylesheet" type="text/css" href="/css/myjd.common.css" media="all" />
        <link rel="stylesheet" type="text/css" href="/css/myjd.info.css" media="all" />
        <script type="text/javascript" src="/js/jquery-1.6.4.js"></script>
    </head>
    <body>
        <script type="text/javascript" src="/js/base-2011.js" charset="utf-8"></script>
        <!-- header start -->
        <div th:replace="commons/header"></div>
        <!-- header end -->

        <div id="container">
            <div class="w">
                <div id="main">
                    <div class="g-0">
                        <div id="content" class="c-3-5">
                            <div class="mod-main">
                                        <div class="mt">
                                            <ul class="extra-l">
                                                <li class="fore-1"><a href="http://127.0.0.1:8080/user/user_Message">基本信息</a></li>
                                                <li class="fore-2"><a href="http://127.0.0.1:8080/user/user_Message_img">头像照片</a></li>
                                                <li class="fore-3"><a class="curr" href="http://127.0.0.1:8080/user/user_Message_address">收货地址</a></li>
                                            </ul>
                                        </div>
                                        <div class="mc">
                                            <div class="user-set">
                                                <div class="form">
                                                    <!--用户收货地址列表-->
                                                    <div id="address_list">
                                                        <div class="item">
                                                            <span class="label">所在省市：</span>
                                                            <div class="fl">
                                                                <select name="userVo.province" class="selt mr5" id="province1" onchange="chooseCity(this.value,1)">
                                                                    <option disabled="" selected="selected" value="0">--选择省份--</option>
                                                                </select>
                                                                <select name="userVo.city" class="selt mr5" id="city1" onchange="chooseCounty(this.value,1)">
                                                                    <option disabled="" selected="selected" value="0">--选择城市--</option>
                                                                </select>
                                                                <select name="userVo.county" class="selt mr5" id="county1">
                                                                    <option disabled="" selected="selected" value="0">--选择区/县--</option>
                                                                </select>
                                                                <div class="clr"></div><div class="prompt-06"><span id="city_msg"></span></div>
                                                            </div>
                                                        </div>
                                                        <div class="item">
                                                            <span class="label">详细地址：</span>
                                                            <div class="fl">
                                                                <input type="text" class="itxt itxt1" name="userVo.address" id="address1" value="上海徐汇区内环以内漕溪北路737弄2号楼3201室">
                                                                <div class="clr"></div><div class="prompt-06"><span id="address_msg"></span></div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="item">
                                                        <span class="label">&nbsp;</span>
                                                        <div class="fl">
                                                            <a href="javascript:void(0)" class="btn-5" onclick="newAddress()">新增收货地址</a>
                                                        </div>
                                                        <span class="label">&nbsp;</span>
                                                        <div class="fl">
                                                            <a href="javascript:void(0)" class="btn-5" onclick="updateMoreUserInfo()">保存</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="clr"></div>
                                        </div>
                                    </div>
                        </div>
                    </div>
                    <div id="left" class="g-3-5 c-0">
                        <!--js 加载异步加载的左侧菜单 -->
                        <div id="menu">
                            <h3>我的交易</h3>
                            <dl class="fore1">
                                <dt>
                                    <a target="_blank" clstag="homepage|keycount|home2013|hdd" id="_MYJD_ordercenter" href="http://127.0.0.1:8080/user/user_orders" class="curr">我的订单</a>
                                </dt>
                            </dl>
                            <dl class="fore2">
                                <dt>
                                    <a target="_blank" clstag="homepage|keycount|home2013|hyushou" id="_MYJD_yushou" href="http://yushou.jd.com/member/qualificationList.action">我的预售</a>
                                </dt>
                            </dl>
                            <dl class="fore3">
                                <dt>
                                    <a target="_blank" clstag="homepage|keycount|home2013|hbdsh" id="_MYJD_locallife" href="http://life.jd.com/localOrder/iniOrder.do">我的本地生活</a>
                                </dt>
                            </dl>
                            <dl class="fore4">
                                <dt>
                                    <a target="_blank" clstag="homepage|keycount|home2013|hdqs" id="_MYJD_ding" href="http://ding.jd.com/plan/showPlans.action">我的定期送</a>
                                </dt>
                            </dl>
                            <dl class="fore5">
                                <dt>
                                    <a target="_blank" clstag="homepage|keycount|home2013|htg" id="_MYJD_tuan" href="http://tuan.jd.com/order/index.php">我的团购</a>
                                </dt>
                            </dl>
                            <dl class="fore6">
                                <dt>
                                    <a target="_blank" clstag="homepage|keycount|home2013|hjg" id="_MYJD_protection" href="http://jiabao.jd.com/protecting">价格保护</a>
                                </dt>
                            </dl>
                            <dl class="fore7">
                                <dt class="hc">
                                    <b></b>
                                    <a target="_blank" id="_MYJD_gz" href="#none">我的关注</a>
                                </dt>
                                <dd class="fore1">
                                    <div class="item" id="_MYJD_product">
                                        <a target="_blank" clstag="homepage|keycount|home2013|hgz" href="http://t.jd.com/home/follow">关注的商品</a>
                                    </div>
                                </dd>
                                <dd class="fore2">
                                    <div class="item" id="_MYJD_vender">
                                        <a target="_blank" clstag="homepage|keycount|home2013|hdp" href="http://t.jd.com/vender/followVenderList.action">关注的店铺</a>
                                    </div>
                                </dd>
                                <dd class="fore3">
                                    <div class="item" id="_MYJD_activity">
                                        <a target="_blank" clstag="homepage|keycount|home2013|hhd" href="http://t.jd.com/activity/followActivityList.action">关注的活动</a>
                                    </div>
                                </dd>
                                <dd class="fore4 last ">
                                    <div class="item" id="_MYJD_history">
                                        <a target="_blank" clstag="homepage|keycount|home2013|hll" href="http://my.jd.com/history/list.html">浏览历史&nbsp;
                                            <img width="24" height="11" src="/images/myjd-new-ico.png">
                                        </a>
                                    </div>
                                </dd>
                            </dl>
                            <dl class="fore8">
                                <dt class="hc">
                                    <b></b>
                                    <a target="_blank" id="_MYJD_zc" href="#none">我的资产</a>
                                </dt>
                                <dd class="fore1">
                                    <div class="item" id="_MYJD_cashbox">
                                        <a target="_blank" clstag="homepage|keycount|home2013|hjk" href="http://jinku.pay.jd.com/xjk/income.action">我的小金库</a>
                                    </div>
                                </dd>
                                <dd class="fore2">
                                    <div class="item" id="_MYJD_credit">
                                        <a clstag="homepage|keycount|home2013|hbt" tag="213" href="http://baitiao.jd.com/creditUser/record">淘淘白条</a>&nbsp;
                                    </div>
                                </dd>
                                <dd class="fore3">
                                    <div class="item" id="_MYJD_tx">
                                        <a target="_blank" clstag="homepage|keycount|home2013|htx" href="http://mobile.jd.com/yyswt/myjd.do">淘淘通信</a>
                                    </div>
                                </dd>
                                <dd class="fore4">
                                    <div class="item" id="_MYJD_balance">
                                        <a target="_blank" clstag="homepage|keycount|home2013|hye" href="http://mymoney.jd.com/finance/recently.action">余额</a>
                                    </div>
                                </dd>
                                <dd class="fore5">
                                    <div class="item" id="_MYJD_ticket">
                                        <a target="_blank" clstag="homepage|keycount|home2013|hyh" href="http://quan.jd.com/user_quan.action">优惠券</a>
                                    </div>
                                </dd>
                                <dd class="fore6">
                                    <div class="item" id="_MYJD_card">
                                        <a target="_blank" clstag="homepage|keycount|home2013|he" href="http://giftcard.jd.com/giftcard/index.action">淘淘卡/E卡</a>
                                    </div>
                                </dd>
                                <dd class="fore7 last">
                                    <div class="item" id="_MYJD_bean">
                                        <a target="_blank" clstag="homepage|keycount|home2013|hjd" href="http://bean.jd.com/myJingBean/list">京豆</a>
                                    </div>
                                </dd>
                            </dl>
                            <dl class="fore9 last ">
                                <dt class="hc">
                                    <b></b>
                                    <a target="_blank" id="_MYJD_fw" href="#none">客户服务</a>
                                </dt>
                                <dd class="fore1">
                                    <div class="item" id="_MYJD_repair">
                                        <a target="_blank" clstag="homepage|keycount|home2013|hfx" href="http://myjd.jd.com/repair/orderlist.action">返修退换货</a>
                                    </div>
                                </dd>
                                <dd class="fore2">
                                    <div class="item" id="_MYJD_refundment">
                                        <a target="_blank" clstag="homepage|keycount|home2013|hqx" href="http://rps.fm.jd.com/rest/refund/refundList">取消订单记录</a>
                                    </div>
                                </dd>
                                <dd class="fore3 last ">
                                    <div class="item" id="_MYJD_complaint">
                                        <a target="_blank" clstag="homepage|keycount|home2013|htx" href="http://myjd.jd.com/opinion/orderList.action">我的投诉</a>
                                    </div>
                                </dd>
                            </dl>
                        </div>
                        <div id="da-game" class="da-box m">
                            <a href="http://c.nfa.jd.com/adclick?sid=14&amp;cid=720&amp;aid=4497&amp;bid=0&amp;unit=85943&amp;advid=131939&amp;guv=&amp;url=http://wan.jd.com/yeyou/play.html?gameId=86&amp;gateWayId=s40">
                                <img width="100%" src="/images/547e6a57N75c2f016.gif" alt="">
                            </a>
                        </div>
                        <div id="da-home" class="da-box">
                            <a href="http://c.nfa.jd.com/adclick?sid=2&amp;cid=102&amp;aid=413&amp;bid=8305&amp;unit=65429&amp;advid=166662&amp;guv=&amp;url=http://vivoshop.jd.com" target="_blank">
                                <img width="100%" height="100%" alt="" app="image:poster" src="/images/549d03d0N59b1f026.jpg">
                            </a>
                        </div>
                    </div>
                    <span class="clr"></span>
                </div>
            </div>
        </div>

        <!-- footer start -->
        <div th:replace="commons/footer"></div>
        <!-- footer end -->

        <script type="text/javascript">
            //[页面加载完成执行]
            $(function() {
                //1.查询省份信息
                $.getJSON("/user/getCityMessage/1", function (data) {
                    if (data !== null && data.length > 0) {
                        for (var x = 0; x < data.length; x++) {
                            $("#province1").append('<option value="' + data[x].id + '">' + data[x].cityName + '</option>')
                        }
                    }
                });
            });

            var i=1;
            //--1.选择省份之后的操作--
            function chooseCity(id,index) {
                //清空城市/区县信息
                $("#city"+index).empty();
                $("#city"+index).append('<option disabled="" selected="selected" value="0">--选择城市--</option>');
                $("#county"+index).empty();
                $("#county"+index).append('<option disabled="" selected="selected" value="0">--选择区/县--</option>');
                $.getJSON("/user/getCityMessage/"+id, function (data) {
                    if (data !== null && data.length > 0) {
                        for(var x=0; x< data.length; x++){
                            $("#city"+index).append('<option value="' + data[x].id + '">' + data[x].cityName + '</option>')
                        }
                    }
                });
            }

            //--2.选择城市之后的操作--
            function chooseCounty(id,index) {
                //清空区/县信息
                $("#county"+index).empty();
                $("#county"+index).append('<option disabled="" selected="selected" value="0">--选择区/县--</option>');
                $.getJSON("/user/getCityMessage/"+id, function (data) {
                    if (data !== null && data.length > 0) {
                        for(var x=0; x< data.length; x++){
                            $("#county"+index).append('<option value="' + data[x].id + '">' + data[x].cityName + '</option>')
                        }
                    }
                });
            }

            //3.提交用户信息
            function updateMoreUserInfo() {
                var param=[];
                for (y=1 ; y <= i; y++){
                    var paramObject ={};
                    var province=$("#province"+y).val();
                    var city=$("#city"+y).val();
                    var county=$("#county"+y).val();
                    var address=$("#address"+y).val();
                    paramObject.province=province;
                    paramObject.city=city;
                    paramObject.county=county;
                    paramObject.address=address;
                    param.push(paramObject);
                }
                $.ajax({
                    type : "POST",
                    url : "/user/user_address_update",
                    contentType : "application/json;charset=UTF-8",
                    data : JSON.stringify(param),
                    success : function(data) {
                        if(data.status == 200){
                            alert("保存成功!");
                        }
                    }
                });
            }

            //4.用户新增地址
            function newAddress() {
            $.getJSON("/user/getCityMessage/1", function (data) {
                if (data !== null && data.length > 0) {
                    for (var x = 0; x < data.length; x++) {
                        $("#province"+i).append('<option value="' + data[x].id + '">' + data[x].cityName + '</option>')
                    }
                }
            });
            i=i+1;
            $("#address_list").append("<div style=\"\n" +
                "    padding-left: 180px;\n" +
                "    padding-bottom: 10px;\n" +
                "\">- - - - - 收货地址<"+i+"> - - - - -</div>");
            $("#address_list").append("<div class=\"item\">\n" +
                                        "<span class=\"label\">所在省市：</span>\n" +
                                        "<div class=\"fl\">\n" +
                                        "<select name=\""+i+"\" class=\"selt mr5\" id=\"province"+i+"\" onchange=\"chooseCity(this.value,this.name)\">\n" +
                                        "<option disabled=\"\" selected=\"selected\" value=\"0\">--选择省份--</option>\n" +
                                        "</select>\n" +
                                        "<select name=\""+i+"\" class=\"selt mr5\" id=\"city"+i+"\" onchange=\"chooseCounty(this.value,this.name)\">\n" +
                                        "<option disabled=\"\" selected=\"selected\" value=\"0\">--选择城市--</option>\n" +
                                        "</select>\n" +
                                        "<select name=\"userVo.county\" class=\"selt mr5\" id=\"county"+i+"\">\n" +
                                        "<option disabled=\"\" selected=\"selected\" value=\"0\">--选择区/县--</option>\n" +
                                        "</select>\n" +
                                        "<div class=\"clr\"></div><div class=\"prompt-06\"><span id=\"city_msg\"></span></div>\n" +
                                        "</div>\n" +
                                        "</div>\n" +
                                        "<div class=\"item\">\n" +
                                        "<span class=\"label\">详细地址：</span>\n" +
                                        "<div class=\"fl\">\n" +
                                        "<input type=\"text\" class=\"itxt itxt1\" name=\"userVo.address\" id=\"address"+i+"\" value=\"上海徐汇区内环以内漕溪北路737弄2号楼3201室\">\n" +
                                        "<div class=\"clr\"></div><div class=\"prompt-06\"><span id=\"address_msg\"></span></div>\n" +
                                        "</div>\n" +
                                        "</div>");
        }

        </script>

    </body>

</html>